<html>
  <head>

  </head>
  <body>
    p #{message}
    <form method="POST" action="/signup">
      <div>
        <label htmlFor="username">Username: </label>
        <input type="text" name="username" />
      </div>
      <div>
        <label htmlFor="password">password: </label>
        <input type="password" name="password" />
      </div>
      <button type="submit">Sign Up</button>
      <a href="/login">Log In</a>
    </form>
  </body>
</html>
