body {
  margin-top: 1rem;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
}

li + li {
  margin-left: .5em;
}

li + li:before {
  content: " | "
}

li.active a {
    color: gold;
}

h1, 
label {
  text-transform: capitalize;
}

.new-track {
  margin-top: 1rem;
}